{%extends "mentor_template/base.html"%} {%load static%} {%block content%}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>
      {{hero.content.heading_line_1}}<br />{{hero.content.heading_line_2}}
    </h1>
    <h2>{{hero.content.tagline}}</h2>
    <a href="{{hero.content.button.link}}" class="{{hero.content.button.class}}"
      >{{hero.content.button.text}}</a
    >
  </div>
</section>
<!-- End Hero -->

<main id="main">
  {%for section in sections%} {%include section.file%} {%endfor%}
</main>
<!-- End #main -->
{%endblock%}
